### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

* **MongoDB** is a document-oriented NoSQL database used for high volume data storage. Instead of using tables and rows as in the traditional relational databases, MongoDB makes use of collections and documents. Documents consist of key-value pairs which are the basic unit of data in MongoDB. Collections contain sets of documents and function which is the equivalent of relational database tables.


* **Non-Relational databases** also known as NoSQL databases, are databases that do not use the traditional table-based relational database model. Instead, they use different data models, such as key-value, document-oriented, or graph-based, to store and organize data. Non-relational databases are often used for handling large amounts of unstructured or semi-structured data, and they can be more flexible and scalable than traditional SQL databases.


* **Scenarios When MongoDB preferred over SQL databases** MongoDB is preferred over SQL databases in scenarios where the data is unstructured, has varying or unknown schema, and where performance is a critical requirement. For example, MongoDB is commonly used in industries such as e-commerce, social media, and healthcare, where the data is constantly changing and requires fast access to large amounts of data.

### Q2. State and Explain the features of MongoDB.

### Features of MongoDB - 

* **Document-oriented storage**: MongoDB stores data in flexible and dynamic JSON-like documents, which allows developers to store data in a way that best suits their application's needs.


* **Flexible schema**: MongoDB does not enforce a fixed schema like traditional SQL databases, which makes it easier to work with unstructured data.


* **High availability**: MongoDB provides automatic replication and failover, which ensures that the data is alwaysavailable and that there is no single point of failure.


* **Scalability**: MongoDB can easily scale horizontally by adding more nodes to a cluster, which makes it ideal for handling large volumes of data.


* **Indexing**: MongoDB supports indexing on any field, which makes querying the database faster and more efficient.

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [187]:
# Import library
import pymongo

# Connect MongoDB with Python
client = pymongo.MongoClient("mongodb+srv://<username>:<password>@cluster0.cmcikf4.mongodb.net/?retryWrites=true&w=majority")

# Creating a database
db = client['MyDatabase']

# Creating a collection
collection = db["MyCollection"]

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

### Inserting single record using insert_one() -

In [188]:
# insert one record
single_record={"_id":1,"name":"Harshit","age":21}
collection.insert_one(single_record)

### Inserting multiple records using insert_many() -

In [189]:
# insert many reocrds
multiple_records=[
    {"_id":2,"name":"Tushar","age":23},
    {"_id":4,"name":"Vradhi","age":19},
    {"_id":5,"name":"Chandan","age":22},
    {"_id":6,"name":"Ishant","age":22},
    {"_id":7,"name":"Harinandan","age":20},
    {"_id":8,"name":"Enkalvya","age":21},
    {"_id":9,"name":"Abhishek","age":20},
    {"_id":10,"name":"Dhananjay","age":23},    
]
collection.insert_many(multiple_records)

### Printing first record using find_one() -

In [190]:
# find_one()
record=collection.find_one()

print("Id :",record['_id'])
print("Name :",record['name'])
print("Age :",record['age'])

Id : 1
Name : Harshit
Age : 21

### Printing all records using find()-

In [195]:
# find()
records=collection.find()

print("Id\tAge\tName")
for i in records:
    print(f"{i['_id']}\t{i['age']}\t{i['name']}")

All records of database-
Id	Age	Name
1	21	Harshit
2	23	Tushar
4	19	Vradhi
5	22	Chandan
6	22	Ishant
7	20	Harinandan
8	21	Enkalvya
9	20	Abhishek
10	23	Dhananjay

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

* The find() method takes an optional query object as its argument, which defines the criteria for the search. This query object is typically constructed using a set of key-value pairs, where each key represents a field in the document and each value represents the value to search for in that field. The find() method returns a cursor to the resulting documents, which can be iterated over to access the data.

* The find() method with no parameters returns all documents from a collection and returns all fields for the documents.

In [199]:
# Example-
records=collection.find({'age':{'$gte':21}})

print("Id\tAge\tName")
for i in records:
    print(f"{i['_id']}\t{i['age']}\t{i['name']}")

Id	Age	Name
1	21	Harshit
2	23	Tushar
5	22	Chandan
6	22	Ishant
8	21	Enkalvya
10	23	Dhananjay

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

* **sort()** method  is used to sort the result in ascending or descending order. sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

In [223]:
# Sort Data Based on Name
sorted_data=collection.find().sort("age")

print("Age\tName")
for i in sorted_data:
    print(f"{i['age']}\t{i['name']}")

Age	Name
19	Vradhi
20	Harinandan
20	Abhishek
21	Harshit
21	Enkalvya
22	Chandan
22	Ishant
23	Tushar
23	Dhananjay

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

**delete_one()**, **delete_many()**, and **drop()** methods are used in MongoDB to remove documents or collections from a database.
    

1. delete_one(filter, collation=None) deletes a single document from the specified collection that matches the given filter criteria.

2. delete_many(filter, collation=None) deletes all documents from the specified collection that match the given filter criteria.

3. drop() removes an entire collection from the database.

In [224]:
# Deleting single document
query={"name":"Dhananjay"}

collection.delete_one(query)

In [227]:
# Deleting multiple documents
query={"age":22}

collection.delete_many(query)

In [229]:
# Droping all documents
collection.drop()