### Q1. What is a database? Differentiate between SQL and NoSQL databases.

* **Database** - an organized collection of data and information or interrelated data collected at one place. It allows for efficient storage, retrieval, and manipulation of large amounts of data. A database system typically consists of software that manages the data, a database server that stores the data, and one or more applications that access the data.


|SQL|NoSQL|
|-|-|
|Relational Database Management SYstem (RDBMS)|Non-relational or Distributed Database System.|
|These databases have fixed or static or predefined schema|They have dynamic schema|
|These databases are not suited for hierarchical data storage.|These databases are best suited for hierarchical data storage.|
|These databases are best suited for complex queries|These databases are not so good for complex queries|
|Vertically Scalable|	Horizontally scalable|
|Follows ACID property(Atomicity,Consistency,Isolation,Durability)|	Follows CAP(Consistency, Availability, Partition tolerance)|
|Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc|	Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc|

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

* **DDL**- DDL stands for Data Definition Language, it consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.

#### CREATE:- It is used to create a database and its objects like (table, index, views, store procedure, function, and triggers)

In [29]:
import mysql.connector as connector

con = connector.connect(host="localhost",user="sqluser", password="password", auth_plugin='mysql_native_password',database='MyDataBase')
cursor = con.cursor()

In [26]:
# CREATE Example- here we will create table
cursor.execute("Create Table If Not Exists DatabaseTable(String_Column VARCHAR(255), Integer_Column int)")
print("Table named DatabaseTable is created")

Table named DatabaseTable is created

#### DROP: - It used to delete a whole database or just a table.The DROP statement destroys the objects like an existing database, table, index, or view. A DROP statement in SQL removes a component from a relational database management system

In [27]:
# Drop Example- here we will drop database
cursor.execute("Drop Database If Exists MyDB")
print("Database is deleted")

Database is deleted

#### ALTER: This is used to alter the structure of the database.

In [30]:
# Alter Example- here we will alter database
cursor.execute("Alter Table DatabaseTable Add ExtraColumn varchar(255)")
print("Column is added to the database")

Column is added to the database

#### TRUNCATE:- This is used to remove all records from a table, including all spaces allocated for the records are removed.

In [3]:
# Truncate Example- here we will truncate table
import mysql.connector

mydb = mysql.connector.connect( host="localhost",
                                user="sqluser",
                                password="password",
                                auth_plugin='mysql_native_password',
                                database="test1")

mycursor = mydb.cursor()
mycursor.execute("Truncate Table test_table")
mydb.commit()
mydb.close()

print("Table is truncated")

Table is truncated

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

* **DML**- It stands for Data Manipultaing Language,it deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database.

In [49]:
import mysql.connector as connector

mydb=connector.connect(host="localhost",user="sqluser",password="password",auth_plugin='mysql_native_password',database="ExampleDB")
cursor=mydb.cursor()

cursor.execute("Create Table If Not Exists Student(First_name varchar(100),Last_name varchar(100),Roll_no varchar(40))")

def row_wise_data():
    cursor.execute("Select * from Student")
    for i in cursor:
        print(i)

* **INSERT : It is used to insert data into a table.**

In [50]:
# INSERT Example-
cursor.execute("Insert Into Student(First_name,Last_name,Roll_no) Values('Tushar','Sharma','Mau20usc002')")
mydb.commit()

row_wise_data()

('Harshit', 'Pathak', 'Mau20usc019')
('Tushar', 'Sharma', 'Mau20usc002')

* **UPDATE: It is used to update existing data within a table.**

In [51]:
# UpdateExample-
cursor.execute("Update Student Set Last_name='Kumar Pathak' where First_Name='Harshit'")
mydb.commit()

row_wise_data()

('Harshit', 'Kumar Pathak', 'Mau20usc019')
('Tushar', 'Sharma', 'Mau20usc002')

* **DELETE : It is used to delete records from a database table**

In [52]:
# DeleteExample
cursor.execute("Delete From Student where First_name='Tushar'")
mydb.commit()

row_wise_data()

('Harshit', 'Kumar Pathak', 'Mau20usc019')

### Q4. What is DQL? Explain SELECT with an example.

* **DQL** stand for Data Query Language, DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement.

* **SELECT**: - It is used to retrieve data from the database.

In [65]:
# Example-SELECT

import mysql.connector as connector

mydb=connector.connect(host="localhost",user="sqluser",password="password",auth_plugin='mysql_native_password',database="test1")
cursor=mydb.cursor()

cursor.execute("Select * from test_table")

for i in cursor:
    print(i)

(18, 'Harshit', 19, 345.0, 'Pathak')
(18, 'Harshit', 19, 345.0, 'Pathak')
(18, 'Harshit', 19, 345.0, 'Pathak')
(18, 'Harshit', 19, 345.0, 'Pathak')
(18, 'Harshit', 19, 345.0, 'Pathak')

### Q5. Explain Primary Key and Foreign Key.

* **Primary Key**: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

        Example:STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be 
        chosen as the primary key (only one out of many candidate keys). 

* **Foreign Key**: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

        Example: STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

* **cursor()** : cursor() method creates a cursor/pointer object which is used to interact with a MySQL database.


* **execute()** : It is used to execute a SQL query on a MySQL database using a cursor object in Python.

In [68]:
import mysql.connector as connector

mydb=connector.connect(host="localhost",user="sqluser",password="password",auth_plugin='mysql_native_password',database="test1")
cursor=mydb.cursor()

cursor.execute("Select * from test_table")

for i in cursor:
    print(i)

(18, 'Harshit', 19, 345.0, 'Pathak')
(18, 'Harshit', 19, 345.0, 'Pathak')
(18, 'Harshit', 19, 345.0, 'Pathak')
(18, 'Harshit', 19, 345.0, 'Pathak')
(18, 'Harshit', 19, 345.0, 'Pathak')

### Q7. Give the order of execution of SQL clauses in an SQL query.

* **SQL query will execute SQL clauses in following order**

1. **FROM clause**: Specifies the table or tables from which to retrieve data.


2. **JOIN clause**: Specifies how to join multiple tables together, if needed.


3. **WHERE clause**: Specifies which rows to retrieve based on a set of conditions.


4. **GROUP BY clause**: Specifies how to group rows based on one or more columns.


5. **HAVING clause**: Specifies which groups to retrieve based on a set of conditions.


6. **SELECT clause**: Specifies which columns to retrieve.


7. **DISTINCT clause**: Specifies to retrieve only distinct values of the specified columns.


8. **ORDER BY clause**: Specifies how to sort the retrieved rows based on one or more columns.


9. **LIMIT clause**: Specifies the maximum number of rows to retrieve.